/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body.welcome{
  background: url("Background_Hero.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.nav{
  background-color: #4f4f4f;
  height: 62px;
  color: #ffffff;
  margin-top: 100px;
  position: relative;
}

h1{
  font-family: 'Oswald';
  font-weight: 300;
  font-weight: lighter;
  text-align: center;
  padding-top: 200px;
  font-size: 150px;
  color: #ffffff;
  opacity: .8;
  position: relative;

}

h3{
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;

}


h4{
  font-family: 'Oswald';
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

hr.topline{
  color: #ffffff;
  width: 920px;
  margin-top:45px;
}

div.summary{
  width: 700px;
  margin: 0 auto;
  line-height: 30px;
}

hr.bottomline{
  color: #ffffff;
  width: 920px;
  margin-top:25px;
}

a{
  font-family: 'Oswald';
  font-weight: 300;
  font-style: lighter;
  letter-spacing: 2px;
  color: #b2b2b2;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

a:hover{
  color: #ffffff;
}

p.links{
  font-family: 'Oswald';
  font-weight: 300;
  font-style: lighter;
  letter-spacing: 2px;
  color: #b2b2b2;
  font-size: 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
}

form.customer_search{
  margin-top: 50px;
  margin-right: 10px;
  float: middle;
  text-align: center;
}

input.customer_zip{
  width:210px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  outline:none;
  border:none;
  background-color: #ffffff;
  opacity: .7;
  font-family: 'Oswald';
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
}

button.customer_enter{
  width:100px;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  outline:none;
  border:none;
  background-color: #444444;
  opacity: .7;
  font-family: 'Oswald';
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 15px;
  color: white;
  margin-left: 25px;


}

p.alert-success{
  display:none;
}

p.alert-danger{
  display:none;
}








