body.welcome{
  background: url("Background_Hero.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.nav{
  background-color: #4f4f4f;
  height: 62px;
  color: #ffffff;
  width: 5000px;
  float:left;
  margin-top: 700px;
  padding: 50px;
}


    ARE YOU A FARMER OR MANAGER AND WANT TO REGISTER TO KEEP YOUR CUSTOMERS UPDATED ON YOUR HARVEST?


  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit Your Info', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>


  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <h5>
</div>