<!DOCTYPE html>
<html>
<head>
  <title>Growinseason</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>

<body>

<ul class="nav">
</ul>

<p class="navbar-text pull-right">


<%= yield %>

</body>
</html>
